.add-form {
  margin-bottom: 30px;
  .form-control {
    border: none;
    padding: 15px 0 5px;
    &.form-control-check {
      display: flex;
      align-items: center;
    }
    label {
      display: block;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      border: 1px solid #00000085;
      outline: 0;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
